<form name="recoverPasswordForm" #loginForm="ngForm" *ngIf="!loading" novalidate>
  <auth-notification></auth-notification>

<mat-form-field class="full-width">
  <input matInput type="password" placeholder="{{'AUTH.PASSWORD' | translate}}" [(ngModel)]="model.password"
    name="password" required>
</mat-form-field>

<mat-form-field class="full-width">
  <input matInput type="password" placeholder="{{'AUTH.CONFIRM_PASSWORD' | translate}}" [(ngModel)]="model.passwordConfirm"
    name="confirmPassword" required>
</mat-form-field>  

<button type="button" class="btn btn-success float-left"
  (click)="recoverPassword()">{{'AUTH.RECOVER_PASSWORD_BUTTON' | translate}}</button>

  <button type="button" mat-button color="primary" class="float-right"
            (click)="navigateToLoginForm()">{{'AUTH.BACK_TO_LOGIN_PAGE_BUTTON_LINK' | translate}}</button>
</form>

<div class="d-flex justify-content-center" *ngIf="loading">
<div class="spinner-border" role="status">
  <span class="sr-only">Loading...</span>
</div>
</div>