<div *ngIf="!loading">

  <auth-notification></auth-notification>

  <form *ngIf="!emailIsSent" name="forgotPasswordForm" #forgotPasswordForm="ngForm" novalidate>

    <mat-form-field class="full-width">
      <input matInput placeholder="{{'AUTH.EMAIL' | translate}}" name="email"  [formControl]="emailFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        {{'AUTH.INVALID_EMAIL' | translate}}
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        {{'AUTH.EMAIL_IS_REQUIRED'|translate}}
      </mat-error>
    </mat-form-field>

    <button type="button" mat-raised-button color="primary" class="float-left" [disabled]="emailFormControl.invalid"
      (click)="sendEmail()">{{'AUTH.RECOVER_PASSWORD_BUTTON' | translate}}</button>

      <button type="button" mat-button color="primary" class="float-right"
    (click)="navigateToLoginForm()">{{'AUTH.BACK_TO_LOGIN_PAGE_BUTTON_LINK' | translate}}</button>
  </form> 
</div>

<div class="d-flex justify-content-center" *ngIf="loading">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>